version: "3.8"
services:
  db:
    image: postgres
    container_name: psql-ecommerce
    restart: always
    ports:
      - "54320:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: admin
    volumes:
      - psql-ecommerce:/var/lib/postgresql/data
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4_container
    restart: always
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: postgres@email.com
      PGADMIN_DEFAULT_PASSWORD: secret123
    volumes:
      - pgadmin-data:/var/lib/pgadmin

volumes:
  psql-ecommerce:
  pgadmin-data: